.vscode/
env/
*.pyc
api/__pycache__/
inequality_dashboard/frontend/__pycache__/
inequality_dashboard/__pycache__/
inequality_dashboard/frontend/node_modules/
inequality_dashboard/frontend/static/frontend/main.js
